In [ ]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Estudos/Uninga/datasets_Players.csv')

In [19]:
df.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

# tratando dados:

- qual é a media de altura e peso dos jogadores
- Criar uma nova coluna entre a razão 
- criar uma nova coluna com IMC dos jogadores
- qual é a maior altura entre os jogadores
- qual é a menor altura entre os jogadores
- qual é o maior peso entre os jogadores
- qual é o menor peso entre os jogadores
- qual é o jogador mais alto
- qual é o jogador mais baixo

In [20]:
df.columns

Index(['Unnamed: 0', 'Player', 'height', 'weight', 'collage', 'born',
       'birth_city', 'birth_state'],
      dtype='object')

In [21]:
df.rename(columns={"Player": "Jogador", "height": "Altura", 'weight': 'Peso', 'collage':'Universidade', 'born':'nascimento', 'birth_city':'cidade_nascimento', 'birth_state':'estado_nascimento'})

,Unnamed: 0,Jogador,Altura,Peso,Universidade,nascimento,cidade_nascimento,estado_nascimento
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [18]:
jogador_mais_alto = df.loc[df['Altura'].idxmax()]
print(jogador_mais_alto)

KeyError: ignored

In [17]:
jogador_mais_baixo = df.loc[df['Altura'].idxmin()]
print(jogador_mais_baixo)

KeyError: ignored